<!DOCTYPE html>
<html ng-app="teamsApp">
<head>
    <title></title>
    <script src="angular.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <link href="bootstrap.min.css" rel="stylesheet" />
    <script src="JavaScript.js"></script>
    <link href="StyleSheet.css" rel="stylesheet" />
    
</head>
<body ng-controller="teamsDataController">
    
   

    
    
    
    <div class="container">
        <div class="form-group row">
  
  
            <div class="col-md-3">

                 <input type="text" class="form-control" ng-model="filter_id" placeholder="Filter by ID"/>
            </div>

            <div class="col-md-3">
                 <input type="text" class="form-control" ng-model="filter_name" placeholder="Filter by Name"/>
            </div>

            <div class="col-md-3">
                 <input type="text" class="form-control" ng-model="filter_team" placeholder="Filter by Team"/>
            </div>
            <div class="col-md-3">
                 <input type="text" class="form-control" ng-model="filter_track" placeholder="Filter by Track"/>
            </div>
        
        </div>
        <div class="row" style="text-align:center">
                 <div class="col-md-3"><b>ID</b></div>
                 <div class="col-md-3"><b>Name</b></div>
                 <div class="col-md-3"><b>Team ID</b></div>
                 <div class="col-md-3"><b>Track</b></div>
         </div>
        
        <div class="row">
            <div class="row" ng-repeat="student in student_data | filter:{name:filter_name} |filter: { teamid: filter_team } | filter: { id: filter_id } | filter: { track: filter_track }" style="text-align:center">
                 <div class="col-md-3">{{student.id}}</div>
                 <div class="col-md-3">{{student.name}}</div>
                 <div class="col-md-3">{{student.teamid}}</div>
                 <div class="col-md-3">{{student.track}}</div>
            </div>
        </div>
    </div>
   {{count}}
</body>
</html>
